.container
{
  width: 70%;
}

h1
{
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
}

.headline
{
  text-align:center;
}

.menu-button
{
  border: 1px solid black;
  border-radius: .5rem;
  font-family: 'Merriweather', serif;
  text-align: center;
  height: 2rem;
  line-height: 2rem;
}

.menu-button:hover
{
  background-color: black;
  color: white;
}

.about-me
{
  height: 25rem;
}

.bio
{
  font-family: 'Merriweather', serif;
}

.pic
{
  height: auto;
  width: 50%;
  background-image: url("img/me.jpg");
  background-size: cover;
}
