body {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.content-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.portrait {
    height: auto;
    width: 100%;

    margin-bottom: 1em;
}

.btn {
    margin-top: 1em;
}

.btn:hover {
    color: white;
}